body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(100, 100, 100);
}
.Light_bar {
    rotate: -40deg;
    animation-name: Light_Animation;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    padding: 0;
    margin: 0;
    width: 100vh;
    height: 100px;
    background-color: #FFC700;
    box-shadow: 0 0 50px #FFC700;
    scale: 2;
}

@keyframes Light_Animation {
    from {
        transform: translate(0, -100vh);
    }

    to {
        transform: translate(0, 100vh);
    }

}

section {
    position: absolute;
    top: 0;
    left: 0;
    animation-name: BackgroundAnimation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    scrollbar-width: thin;
    scrollbar-color: rgb(150, 150, 150) rgb(40, 40, 40);
    scroll-behavior: smooth;
}

@media (min-width: 768px) {
    .Light_bar {
        filter: blur(20px);
    }
    section {
        background-image: url('../../../assets/Backgrounds/ANIM_BACKGROUND.png');
        background-position: start center;
    }

    @keyframes BackgroundAnimation {
        from {
            background-size: 100%;
        }

        to {
            background-size: 105%;
        }
    }
}

@media (max-width: 768px) {
    section {
        background-image: url('../../../assets/Backgrounds/Background_1_720.webp');
        background-position: start center;
    }

    @keyframes BackgroundAnimation {
        from {
            background-size: 150%;
        }

        to {
            background-size: 155%;
        }
    }
}