<footer>

<ul type="none">
    <li style="font-size: 150%; font-weight: bold; color: rgb(210,210,210); text-decoration: underline;">Redes</li>
    <li (click)="navigateTo('https://www.instagram.com/francis.seura/')"><img src="../../../assets/Icons/Instagram.png">Instagram</li>
    <li (click)="navigateTo('https://www.facebook.com/francis.seura.79')"><img src="../../../assets/Icons/Facebook.png">Facebook</li>
    <li (click)="navigateTo('https://www.linkedin.com/in/francis-seura-366574193/')"><img src="../../../assets/Icons/LinkedIn.png">LinkedIn</li>
    <li (click)="navigateTo('https://github.com/Francis1999S')"><img src="../../../assets/Icons/GitHub.png">GitHub</li>
    <li style="opacity: 0;">_</li>
</ul>
<ul type="none">
    <li style="font-size: 150%; font-weight: bold; color: rgb(210,210,210); text-decoration: underline;">Contacto</li>
    <li (click)="navigateTo('https://api.whatsapp.com/send?phone=5493837698846')"><img src="../../../assets/Icons/WhatsApp.png">WhatsApp: 3837-698846</li>
    <li (click)="navigateTo('mailto:seurafrancis99@gmail.com')"> <img src="../../../assets/Icons/Mail.png">E-mail: seurafrancis99@gmail.com</li>
    <li style="opacity: 0;">_</li>
    <li style="opacity: 0;">_</li>
    <li style="opacity: 0;">_</li>
</ul>
<ul type="none">
    <li style="font-size: 150%; font-weight: bold; color: rgb(210,210,210); text-decoration: underline;">Accesos</li>
    <li (click)="goToInicio()">Inicio ➚</li>
    <li (click)="goToAcercaDeMI()">Acerca de mí ➚</li>
    <li (click)="goToTrabajo()">Mi Trabajo ➚</li>
    <li (click)="goToProjects()">Proyectos ➚</li>
    <li (click)="goToExperiments()">Experimentos ➚</li>
</ul>
<img class="Logo_footer" src="../../../assets/Icons/Logo.png" alt="Logo">
<p class="Credits_footer">Created by <strong>Francis Seura</strong> Developer</p>
</footer>