footer {
    margin: 0;
    padding: 0;
    width: 100%;
    background-image: url('../../../assets/Backgrounds/Projects_Background_H.png');
    background-position: center center;
    color: rgb(150, 150, 150);
    scroll-behavior: smooth;
    scroll-snap-align: center;
    display: flex;
    opacity: 1;
    border-top: 1px solid #FFC700;
    box-shadow: 0 0 10px black;
    position: relative;
}
@media (min-width: 769px) {
    footer {
        background-size: 100% auto;
        height: 40vh;
        align-items: center;
        justify-content: space-around;
        ul {
            margin: 0;
            li {
                cursor: pointer;
                transition: .3s;
                font-size: 110%;
                text-shadow: 0 0 5px black;
                img {
                    height: 15px;
                    margin: 0 10px 0 0;
                }
            }
            li:hover {
                transition: .3s;
                color: rgb(0, 255, 200);
            }
        }
    }
}
@media (max-width: 768px) {
    footer {
        background-size: auto 100%;
        height: 70vh;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        ul {
            margin: 35px 0 0 30px;
            li {
                cursor: pointer;
                transition: .3s;
                text-shadow: 0 0 5px black;
                img {
                    height: 15px;
                    margin: 0 10px 0 0;
                }
    
            }
            li:hover {
                transition: .3s;
                color: rgb(0, 255, 200);
            }
        }
    }
}
.Logo_footer {
    width: 80px;
    opacity: 0.8;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 10px;
    left: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}
.Credits_footer {

    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 1vw;
    left: 50%;
    color: rgb(212, 212, 212);
    transform: translate(-50%,0);
}