<section>
    <div class="Title">
        <div class="bar"></div>
        <h2 class="h2_t">Proyectos en los que he trabajado</h2>
    </div>
    <div class="Container_Cards">
        <img class="img_scroll_cards" (click)="scrollL()" src="../../../assets/Icons/down.gif">
        <div class="bar2"></div>
        <div class="Scroll" id="Scroll_Projects_Cards">
            <div class="Scroll_in">
                
                <div class="Tarjeta_Project">
                    <div class="Project_About">
                        <h1>Red Empleo</h1>
                        <p>Aplicación web autogestionada de carga y consulta pública de currículums, empleos y servicios mediante formularios conectados a una base de datos MySQL. Incluye sistema de filtros de búsqueda por categorías y sección de administración.</p>
                        <div class="Tecnologia_etiquetas">
                            <p>Angular</p>
                            <p>TypeScript</p>
                            <p>PHP</p>
                            <p>MySQL</p>
                        </div>
                    </div>
                    <div class="Project_Illustration">
                        <div class="Project_Image Project_Image_Color_1" (click)="navigateTo('https://tinogasta.gob.ar/Activa')">
                            <img class="Image_src"  src="../../../assets/projects/Comunidad_Activa/Portada.png">
                            <img class="Image_src2" src="../../../assets/projects/Comunidad_Activa/Telefono_Presentacion.png">
                            <img class="Image_src3" src="../../../assets/Icons/Link.png">
                        </div>
                    </div>
                </div>

                <div class="Tarjeta_Project">
                    <div class="Project_About">
                        <h1>Invertir Tinogasta</h1>
                        <p>Invertir Tinogasta es un sitio web informativo con un gran atractivo visual, y además con una aplicación integrada de noticias que posibilita la creación y eliminación de estas desde un usuario único.</p>
                        <div class="Tecnologia_etiquetas">
                            <p>Angular</p>
                            <p>TypeScript</p>
                            <p>PHP</p>
                            <p>MySQL</p>
                        </div>
                    </div>
                    <div class="Project_Illustration">
                        <div class="Project_Image Project_Image_Color_2" (click)="navigateTo('https://tinogasta.gob.ar/Invertir-Tinogasta')">
                            <img class="Image_src"  src="../../../assets/projects/Invertir_Tinogasta/Portada.png">
                            <img class="Image_src2" src="../../../assets/projects/Invertir_Tinogasta/Telefono_Presentacion.png">
                            <img class="Image_src3" src="../../../assets/Icons/Link.png">
                        </div>
                    </div>
                </div>

                <div class="Tarjeta_Project">
                    <div class="Project_About">
                        <h1>Mesa de Entrada Digital</h1>
                        <p>Mesa de Entrada Digital (MEDi) es una aplicación web para la Comunicación Ciudadana y de gestión Gubernamental. Posee sistema Semiautogestionado con administración por áreas y estadísticas.</p>
                        <div class="Tecnologia_etiquetas">
                            <p>Angular</p>
                            <p>TypeScript</p>
                            <p>PHP</p>
                            <p>MySQL</p>
                        </div>
                    </div>
                    <div class="Project_Illustration">
                        <div class="Project_Image Project_Image_Color_3" (click)="navigateTo('https://tinogasta.gob.ar/MEDi')">
                            <img class="Image_src"  src="../../../assets/projects/MEDi/Portada.png">
                            <img class="Image_src2" src="../../../assets/projects/MEDi/Telefono_Presentacion.png">
                            <img class="Image_src3" src="../../../assets/Icons/Link.png">
                        </div>
                    </div>
                </div>
              
                <div class="Tarjeta_Project">
                    <div class="Project_About">
                        <h1>Sistema de Tickets Digitales</h1>
                        <p>Aplicación web con sistema de LogIn y generación de Tickets QR Digitales. Destinada para un mejor control de clientes en eventos de gran escala y manejar grandes volúmenes de datos útiles para análisis estadísticos. Tickets escaneables desde celulares para control y consumo.</p>
                        <div class="Tecnologia_etiquetas">
                            <p>Angular</p>
                            <p>TypeScript</p>
                            <p>PHP</p>
                            <p>MySQL</p>
                        </div>
                    </div>
                    <div class="Project_Illustration">
                        <div class="Project_Image Project_Image_Color_4" >
                            <img class="Image_src"  src="../../../assets/projects/TicketSys/Portada.png">
                            <img class="Image_src2" src="../../../assets/projects/TicketSys/Telefono_Presentacion.png">
                            <img class="Image_src3" src="../../../assets/Icons/Link.png">
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="bar2"></div>
        <img class="img_scroll_cards2" (click)="scrollR()" src="../../../assets/Icons/down.gif">
    </div>
</section>