<section>
    <div class="Title">
        <div class="bar"></div>
        <h2 class="h2_t">Proyectos en los que he trabajado</h2>
    </div>
    <div class="Projects_Container">
        <div class="Tarjeta_Project">
            <div class="Project_About">
                <h1>Base de Datos CV</h1>
                <p>Plataforma autogestionada de carga y consulta pública de currículums, empleos y servicios mediante formularios conectados a una base de datos MySQL. Incluye sistema de filtros de búsqueda por parámetros y sección de administración de control completo.</p>
                <div class="Tecnologia_etiquetas">
                    <p>Angular</p>
                    <p>TypeScript</p>
                    <p>PHP</p>
                    <p>MySQL</p>
                </div>
            </div>
            <div class="Project_Illustration">
                <div class="Project_Image" (click)="navigateToProject()">
                    <img class="Image_src"  src="../../../assets/projects/bbdd/Portada.png">
                    <img class="Image_src2" src="../../../assets/projects/bbdd/Telefono_Presentacion.png">
                    <img class="Image_src3" src="../../../assets/Icons/Link.png">
                </div>
            </div>
        </div>
    </div>
</section>