<section>
    <div class="Title">
        <h1 class="h1_t">ACERCA DE MÍ;</h1>
        <div class="bar"></div>
        <h2 class="h2_t">Formación y Experiencias</h2>
    </div>
    <div class="Container">
        
        <div class="Card_Personal_Info">
            <div class="Row_N_1">
       
                    <img class="Foto_Perfil" src="../../../assets/Backgrounds/Official_Profile.jpg" alt="Foto_Perfil">
                    <div class="Scroll_Container">
                        <p>

                            Soy Francis Seura, desarrollador de aplicaciones web y socio en <strong (click)="navigateTo('https://aristeia.com.ar/')" style="cursor: pointer; color: #FFC700">AristeIA</strong>, una empresa emergente dedicada a ofrecer soluciones tecnológicas innovadoras. Actualmente, también soy estudiante de Desarrollo de Software en el I.E.S.T., donde busco fortalecer mis habilidades técnicas. Además, me gradué como Profesor de Física, lo que me ha permitido complementar mi enfoque analítico en la resolución de problemas. <br> <br>
    
                            Mi pasión por la tecnología y la programación comenzó en 2020, cuando decidí aprender C++ por mi cuenta, desentrañando el código fuente de un videojuego. Desde entonces, he estado en una búsqueda constante de crecimiento profesional. He realizado la primera parte del programa Argentina Programa, especializándome en programación orientada a objetos, y la segunda parte como desarrollador web full-stack, con enfoque en Angular, a través de instituciones como IT Master Coding Academy, el INTI y CESSI. <br> <br>
                            
                            Me considero una persona proactiva y comprometida con la mejora continua, siempre buscando nuevas formas de optimizar soluciones y enfrentar desafíos de manera más eficiente y creativa.
    
                        </p>
                    </div>
              
            </div>
            <div class="Row_N_2">

            </div>
            <div class="Row_N_3">

            </div>
            <div class="Row_N_4">
                
                <button class="button" (click)="navigateTo('https://francis-seura.ar/assets/documents/CV.pdf')">Currículum Vitae ➚</button>
                <button class="button" (click)="goToProjects()">Proyectos ➚</button>
                <button class="button" (click)="goToExperiments()">Experimentos ➚</button>
            </div>
            <div class="Row_N_5">
                <button class="button" (click)="navigateTo('https://github.com/Francis1999S')">GitHub ➚</button>
                <button class="button" (click)="navigateTo('https://AristeIA.com.ar')">AristeIA ➚</button>
            </div>



   

           <!-- <p>
                Soy Francis Seura, Profesor de Física y desarrollador de software activo de <strong (click)="navigateTo('https://aristeia.com.ar/')" style="cursor: pointer; color: #FFC700">AristeIA</strong>, una nueva empresa dedicada al desarrollo de software donde trabajo actualmente en <strong (click)="goToProjects()" style="cursor:pointer; color : #00ff99;">abiciosos proyectos</strong>. Tengo experiencia comprobable en el ámbito del desarrollo web Full Stack.
            </p>
            <p>
                Además, continúo formándome como <strong style="cursor:pointer; color: #00ff99" (click)="navigateTo('https://es.wikipedia.org/wiki/Desarrollador_de_software')">Desarrollador de Software</strong> en el <strong  style="cursor:pointer; color: #ff2600" (click)="navigateTo('https://IESTinogasta.ar')">I.E.S. Tinogasta</strong> y he conseguido certificarme en <strong style="cursor:pointer; color: #00ff99" (click)="navigateTo('https://www.itmaster.com.ar/')">Desarrollo Web Full-Stack por ITMaster Coding Academy</strong> como parte del programa <strong (click)="navigateTo('https://www.argentina.gob.ar/economia/conocimiento/argentina-programa')" style="cursor: pointer; color: aqua;">ArgentinaPrograma</strong>.
            </p>
 -->
        </div>
    </div>
</section>