section {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    scroll-behavior: smooth;
    scroll-snap-align: center;
    background: rgb(255,199,0);
    background: radial-gradient(circle, rgba(255,199,0,0.25) 0%, rgba(0,0,0,1) 100%);
    h1 {
        transition: .5s;
        padding: 0;
        margin: 0;
        width: auto;
        height: auto;
        font-weight: bold;
        font-size: 300%;
        color: #FFC700;
    }
    .h1_t:hover {
        transition: .5s;
        transform: rotateY(30deg);
    }
    h2 {
        transition: .5s;
        padding: 0;
        margin: 0;
        width: auto;
        height: auto;
        color: white;
        font-weight: 100;
    }
    .h2_t:hover {
        transition: .5s;
        transform: rotateY(-30deg);
    }
}

.Title {
    transition: .5s;
    padding: 0;
    margin: 0;
    width: auto;
    height: 20%;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    perspective: 1000px;
}
.Title:hover {
    transition: 0.5s ease-in-out;
    .bar {
        transition: 0.5s 0s ease-in-out;
        width: 100%;
    }
}
.bar {
    transform: translate(0, 0);
    transition: 0.5s 1s ease-in-out;
    padding: 0;
    margin: 0;
    width: 50%;
    height: 1px;
    background-color: #4CCD99;
    box-shadow: 0 0 10px #00ff99;
}
.Row_N_4, .Row_N_5 {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: center;
}
.Row_N_2, .Row_N_3{ 
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.Row_N_1 {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
}
.Container {
    margin: 0;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;

    .Card_Personal_Info {
        transition: .5s;
        background-color: rgba(40, 40, 40, 0.7);
        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        .Row_N_1 {

            .Foto_Perfil {
                transition: .5s;
                border: 1px solid #4CCD99;
                border-radius: 3px;
            }
            .Foto_Perfil:hover {
                transition: .5s;
                box-shadow: 0 0 10px #FFC700;
                border: 1px solid #FFC700;
                filter: brightness(110%);
            }
        }
    }
    .Card_Personal_Info:hover {
        transition: .5s;
        transform: rotateY(6deg);
        background-color: rgba(73, 73, 73, 0.7);
    }
}
.Scroll_Container {
    margin: 0 0 0 20px;
    padding: 0;
    height: 200px;
    display: block;
    overflow-y: scroll;
    scrollbar-width: thin;
    p {
        margin: 0;
        padding: 0;
        text-align: start;
        height: auto;
    }
}
@media (min-width: 769px) {
    .Foto_Perfil {
        width: 10vw;
    }
    .Card_Personal_Info {
        width: 70%;
        height: auto;
        padding: 20px;
        flex-direction: column;
    }
}
@media (max-width: 768px) {
    .Foto_Perfil {
        width: 30vw;
    }
    .Card_Personal_Info {
        margin: -70px 0 0 0;
        width: 90%;
        height: auto;
        padding: 10px;
        flex-direction: column;
    }
}

.button {
    transition: .3s;
    margin: 15px;
    padding: 5px;
    font-family: Titillium Web;
    cursor: pointer;
    outline: none;
    background-color: #FFC700;
    color: black;
    font-weight: bold;
    border-radius: 3px;
    border: none;
    width: 150px;
    height: 50px;

}
.button:hover {
    background-color: #00ff99;
    scale: 1.05;
}