<section>
    <div class="Title">
        <h1 class="h1_t">ACERCA DE MÍ;</h1>
        <div class="bar"></div>
        <h2 class="h2_t">Formación y Experiencias</h2>
    </div>
    <div class="Container">
        
        <div class="Card_Personal_Info">
            <div class="foto_perfil_container">
                <img class="Foto_Perfil" src="../../../assets/Backgrounds/DSC_0029_sRGB_Recortado.JPG" alt="Foto_Perfil">
            </div>
           <div class="info_personal_container">
            <p>
                Soy Francis Seura, socio fundador de <strong (click)="navigateTo('https://aristeia.com.ar/')" style="cursor: pointer; color: #FFC700">AristeIA</strong>, una nueva empresa dedicada al desarrollo de software. He trabajado y continúo trabajando en <strong (click)="goToProjects()" style="cursor:pointer; color : #00ff99">grandes proyectos</strong>, algunos de los cuales ya están completados y funcionando públicamente. Mi experiencia en estos proyectos ha sido invaluable para mi crecimiento profesional.
            </p>
            <p>
                Actualmente, me estoy formando como <strong style="color: #00ff99">Desarrollador de Software en el I.E.S. Tinogasta</strong> y estoy en proceso de finalizar mi <strong style="color: #FFC700">Profesorado en Física</strong>. Además, tengo certificados en <strong style="color: #00ff99">Desarrollo Web Full-Stack por ITMaster Coding Academy</strong> como parte del programa <strong (click)="navigateTo('https://www.argentina.gob.ar/economia/conocimiento/argentina-programa')" style="cursor: pointer; color: aqua;">ArgentinaPrograma</strong>. Mi objetivo es combinar mis conocimientos en desarrollo de software y física para crear soluciones innovadoras y eficientes.
            </p>
            <div>
                <button class="buttons" (click)="goToProjects()">Mis Proyectos ➚</button>
                <button class="buttons" (click)="navigateTo('https://')">Mi CV ➚</button>
                <button class="buttons" (click)="navigateTo('https://github.com/Francis1999S')">GitHub ➚</button>
                <button class="buttons" (click)="navigateTo('https://AristeIA.com.ar')">AristeIA ➚</button>
            </div>
           </div>
        </div>
    </div>
</section>