<body>
    
    <section id="Background_rotate">
        <div class="BoxHOLA">
            <div class="pop1"></div>
            <div class="pop2"></div>
            <div class="pop3"></div>
            <div class="pop4"></div>
            <h1>HOLA;</h1>
            <div class="bar"></div>
            <h2>¡Bienvenidos a mi mundo digital! Soy <strong style="color: #FFC700; font-weight: 300;">Francis Seura</strong>, un apasionado y futuro <strong style="color: #00ff99; font-weight: 300;">Desarrollador de Software</strong> con base en Tinogasta, Catamarca, Argentina.</h2>
        </div>
        <app-animation></app-animation>
        <div class="Social_Media">
            <img src="../../../assets/Icons/Instagram.png" alt="Instagram" (click)="navigateTo('https://www.instagram.com/francis.seura/')">
            <img src="../../../assets/Icons/Facebook.png" alt="Facebook" (click)="navigateTo('https://www.facebook.com/francis.seura.79')">
            <img src="../../../assets/Icons/LinkedIn.png" alt="LinkedIn" (click)="navigateTo('https://www.linkedin.com/in/francis-seura-366574193/')">
            <img src="../../../assets/Icons/GitHub.png" alt="GitHub" (click)="navigateTo('https://github.com/Francis1999S')">
        </div>
    </section>
</body>