<body>
    
    <section id="Background_rotate">
        <div class="BoxHOLA">
            <div class="pop1"></div>
            <div class="pop2"></div>
            <div class="pop3"></div>
            <div class="pop4"></div>
            <h1>HOLA;</h1>
            <div class="bar"></div>
            <h2>¡Bienvenidos a mi mundo digital! Soy <strong style="color: #FFC700; font-weight: 300;">Francis Seura</strong>, un apasionado y futuro <strong style="color: #00ff99; font-weight: 300;">Desarrollador de Software</strong>. con base en Tinogasta, Catamarca, Argentina.</h2>
        </div>
        <app-animation></app-animation>
    </section>
</body>