<body>
    <section>
        <div class="Pantalla_1">
            <div class="mini_web_container">
                <div class="header">
                    <p>🌠</p>
                    <p style="color: black;">Inicio</p>
                    <p>Mi Trabajo</p>
                    <p>Acerca de mí</p>
                    <p>Contacto</p>
                </div>
                <div class="home">
                    <div class="Btn_box">
                        <div (click)="Videos()">
                            Videos
                        </div>
                        <div (click)="Fotos()">
                            Fotos
                        </div>
                    </div>
                    <img class="Videos" id="165awa153as" src="../../../assets/Backgrounds/Videos_miniweb.webp">
                    <img class="Fotos" id="68454w54dw"  src="../../../assets/Backgrounds/Fotos_miniweb.webp" (click)="ToLogIn()">
                </div>
                <div class="mensaje" style="background-color: #FBAB7E;
                background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);">
                    ¡Puedo Transformar...
                </div>
                <div class="mensaje" style="background-color: #FAD961;
                background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);" >
                    tus ideas en realidad! <br>💡
                </div>
                <div class="mensaje" style="background-color: #21D4FD;
                background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
                 color: white;">
                    !Desarrollo web personalizado...
                </div>
                <div class="mensaje" style="background-color: #FF3CAC;
                background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
                 color: white;">
                    para tu éxito digital! 🚀
                </div>
                <div class="mensaje" style="background-color: #FF3CAC;
                background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
                 color: white;">
                    ¡Contáctame Ahora Mismo!📞
                </div>
                <div class="footer">
                    <p>¡Gracias por tu visita!</p>
                </div>

            </div>
        </div>
        <div class="Base_Pantalla_1">
        </div>
        <div class="Base_Pantalla_2">
        </div>
    </section>
</body>