<section>
    <div class="Title">
        <h1 class="h1_t">MI TRABAJO;</h1>
        <div class="bar"></div>
        <h2 class="h2_t">¿En qué consiste?</h2>
    </div>
    <div class="Container_Cards">
        <img class="img_scroll_cards" (click)="scrollL()" src="../../../assets/Icons/down.gif">
        <div class="bar2"></div>
        <div class="Scroll" id="Scroll_Cards">
            <div class="Scroll_in">
                <div class="Container_Card">
                    <div class="Card_Back">
                        <div class="Light_bar"></div>
                        <img class="img_scroll" src="../../../assets/Icons/down.gif">
                        <div class="Card">
                            <div class="Numero">1</div>
                            <div class="pop"></div>
                            <h1>Planificación y Requerimientos</h1>
                            <p>• Comprender las necesidades del cliente y los objetivos del proyecto. <br>
                                • Identificar el público objetivo y los requisitos funcionales y no funcionales del sitio web o la aplicación web. <br>
                                • Definir el alcance del proyecto, incluidos los plazos y el presupuesto.</p>
                        </div>
                    </div>
                </div>
                <div class="Container_Card">
                    <div class="Card_Back">
                        <div class="Light_bar"></div>
                        <img class="img_scroll" src="../../../assets/Icons/down.gif">
                        <div class="Card">
                            <div class="Numero">2</div>
                            <div class="pop"></div>
                            <h1>Diseño</h1>
                            <p>• Crear un diseño visual del sitio web o la aplicación web utilizando herramientas de diseño gráfico o software de diseño web.<br>

                                • Diseñar la arquitectura de la información y la estructura de navegación para garantizar una experiencia de usuario intuitiva.<br>
                                
                                • Desarrollar prototipos o wireframes para visualizar el diseño y la funcionalidad del sitio.</p>
                        </div>
                    </div>
                </div>
                <div class="Container_Card">
                    <div class="Card_Back">
                        <div class="Light_bar"></div>
                        <img class="img_scroll" src="../../../assets/Icons/down.gif">
                        <div class="Card">
                            <div class="Numero">3</div>
                            <div class="pop"></div>
                            <h1>Desarrollo Front-End</h1>
                            <p>• Escribir el código HTML, CSS y JavaScript/TypeScript para crear la interfaz de usuario y el diseño visual del sitio web o la aplicación web.<br>

                                • Optimizar el diseño para que sea receptivo y compatible con diferentes dispositivos y tamaños de pantalla.<br>
                                
                                • Implementar interactividad y funcionalidad del cliente utilizando JavaScript y bibliotecas o frameworks Angular.</p>
                        </div>
                    </div>
                </div>
                <div class="Container_Card">
                    <div class="Card_Back">
                        <div class="Light_bar"></div>
                        <img class="img_scroll" src="../../../assets/Icons/down.gif">
                        <div class="Card">
                            <div class="Numero">4</div>
                            <div class="pop"></div>
                            <h1>Desarrollo Back-End</h1>
                            <p>• Configurar el servidor y la base de datos necesarios para respaldar la funcionalidad del sitio web o la aplicación web.<br>

                                • Desarrollar la lógica del lado del servidor utilizando lenguajes de programación como Python, Node.js, etc.<br>
                                
                                • Integrar sistemas de gestión de bases de datos (como MySQL, PostgreSQL, MongoDB) para almacenar y recuperar datos de manera eficiente.</p>
                        </div>
                    </div>
                </div>
                <div class="Container_Card">
                    <div class="Card_Back">
                        <div class="Light_bar"></div>
                        <img class="img_scroll" src="../../../assets/Icons/down.gif">
                        <div class="Card">
                            <div class="Numero">5</div>
                            <div class="pop"></div>
                            <h1>Pruebas</h1>
                            <p>• Realizar pruebas de funcionalidad para garantizar que todas las características y funcionalidades del sitio web o la aplicación web funcionen según lo previsto.<br>

                                • Realizar pruebas de compatibilidad del navegador para garantizar que el sitio web se vea y funcione correctamente en diferentes navegadores web.<br>
                                
                                • Realizar pruebas de rendimiento para optimizar el tiempo de carga y la velocidad de respuesta del sitio web o la aplicación web.</p>
                        </div>
                    </div>
                </div>
                <div class="Container_Card">
                    <div class="Card_Back">
                        <div class="Light_bar"></div>
                        <img class="img_scroll" src="../../../assets/Icons/down.gif">
                        <div class="Card">
                            <div class="Numero">6</div>
                            <div class="pop"></div>
                            <h1>Despliegue</h1>
                            <p>• Preparar el sitio web o la aplicación web para su lanzamiento público.<br>

                                • Configurar el entorno de alojamiento y la infraestructura necesaria para ejecutar el sitio web o la aplicación web en producción.<br>
                                
                                • Transferir todos los archivos y bases de datos al servidor de producción y realizar las configuraciones finales.</p>
                        </div>
                    </div>
                </div>
                <div class="Container_Card">
                    <div class="Card_Back">
                        <div class="Light_bar"></div>
                        <img class="img_scroll" src="../../../assets/Icons/down.gif">
                        <div class="Card">
                            <div class="Numero">7</div>
                            <div class="pop"></div>
                            <h1>Mantenimiento y Actualización</h1>
                            <p>• Monitorear el rendimiento del sitio web o la aplicación web y realizar actualizaciones y parches de seguridad según sea necesario.<br>

                                • Realizar copias de seguridad periódicas de los datos y los archivos del sitio web o la aplicación web.<br>
                                
                                • Implementar mejoras y nuevas características en función del feedback del usuario y los cambios en los requisitos del negocio.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="bar2"></div>
        <img class="img_scroll_cards2" (click)="scrollR()" src="../../../assets/Icons/down.gif">
    </div>

</section>