<section>
    <div class="Title">
        <div class="bar"></div>
        <h2 class="h2_t">¿Cuál es mi Stack Tecnológico?</h2>
    </div>
    <div class="herramientas">
        <div class="super_container_scroll_block">
            <div class="Row_Container">
                <div class="bar3"></div>
                <div class="Row">
                    <h3 class="Row_h3">Front-End +</h3>
                    <div class="bar2"></div>
                    <div class="Row_items">
                        <div class="scroll_items" id="scroll_items_lenguajes">
                            <div class="Container_Card">
                                <div class="Card_Back">

                                    <div class="Card">
                                        <div class="pop"></div>
                                        <h1>Angular</h1>
                                        <img class="icon" src="../../../assets/tools_icons/angular.png">
                                    </div>
                                </div>
                            </div>
                            <div class="Container_Card">
                                <div class="Card_Back">
                               
                                    <div class="Card">
                                        <div class="pop"></div>
                                        <h1>HTML</h1>
                                        <img class="icon" src="../../../assets/tools_icons/html.png">
                                    </div>
                                </div>
                            </div>
                            <div class="Container_Card">
                                <div class="Card_Back">
                             
                                    <div class="Card">
                                        <div class="pop"></div>
                                        <h1>CSS</h1>
                                        <img class="icon" src="../../../assets/tools_icons/css.png">
                                    </div>
                                </div>
                            </div>
                            <div class="Container_Card">
                                <div class="Card_Back">
                             
                                    <div class="Card">
                                        <div class="pop"></div>
                                        <h1>JavaScript</h1>
                                        <img class="icon" src="../../../assets/tools_icons/Javascript.png">
                                    </div>
                                </div>
                            </div>
                            <div class="Container_Card">
                                <div class="Card_Back">
                               
                                    <div class="Card">
                                        <div class="pop"></div>
                                        <h1>TypeScript</h1>
                                        <img class="icon" src="../../../assets/tools_icons/Typescript.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bar2"></div>
                </div>
                <div class="bar3"></div>
            </div>

            <div class="Row_Container">
                <div class="bar3"></div>
                <div class="Row">
                    <h3 class="Row_h3">Back-End +</h3>
                    <div class="bar2"></div>
                    <div class="Row_items">
                        <div class="scroll_items" id="scroll_items_dev_tools">
                            <div class="Container_Card">
                                <div class="Card_Back">
                               
                                    <div class="Card">
                                        <div class="pop"></div>
                                        <h1>NodeJs</h1>
                                        <img class="icon" src="../../../assets/tools_icons/node.png">
                                    </div>
                                </div>
                            </div>
                            <div class="Container_Card">
                                <div class="Card_Back">
                             
                                    <div class="Card">
                                        <div class="pop"></div>
                                        <h1>PHP</h1>
                                        <img class="icon" src="../../../assets/tools_icons/php.png">
                                    </div>
                                </div>
                            </div>
                            <div class="Container_Card">
                                <div class="Card_Back">
                                  
                                    <div class="Card">
                                        <div class="pop"></div>
                                        <h1>MySQL</h1>
                                        <img class="icon" src="../../../assets/tools_icons/mysql.png">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="bar2"></div>
                </div>
                <div class="bar3"></div>
            </div>

            <div class="Row_Container">
                <div class="bar3"></div>
                <div class="Row">
                    <h3 class="Row_h3">Dev tools +</h3>
                    <div class="bar2"></div>
                    <div class="Row_items">
                        <div class="scroll_items" id="scroll_items_lenguajes">
                            <div class="Container_Card">
                                <div class="Card_Back">
                              
                                    <div class="Card">
                                        <div class="pop"></div>
                                        <h1>VSCode</h1>
                                        <img class="icon" src="../../../assets/tools_icons/vscode.png">
                                    </div>
                                </div>
                            </div>
                            <div class="Container_Card">
                                <div class="Card_Back">
                             
                                    <div class="Card">
                                        <div class="pop"></div>
                                        <h1>GitHub</h1>
                                        <img class="icon" src="../../../assets/tools_icons/github.png">
                                    </div>
                                </div>
                            </div>
                            <div class="Container_Card">
                                <div class="Card_Back">
                           
                                    <div class="Card">
                                        <div class="pop"></div>
                                        <h1>Git</h1>
                                        <img class="icon" src="../../../assets/tools_icons/git.png">
                                    </div>
                                </div>
                            </div>
                            <div class="Container_Card">
                                <div class="Card_Back">
                             
                                    <div class="Card">
                                        <div class="pop"></div>
                                        <h1>npm</h1>
                                        <img class="icon" src="../../../assets/tools_icons/npm.png">
                                    </div>
                                </div>
                            </div>
                            <div class="Container_Card">
                                <div class="Card_Back">
                             
                                    <div class="Card">
                                        <div class="pop"></div>
                                        <h1>WordPress</h1>
                                        <img class="icon" src="../../../assets/tools_icons/wordpress.png">
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                    <div class="bar2"></div>
                </div>
                <div class="bar3"></div>
            </div>

            <div class="Row_Container">
                <div class="bar3"></div>
                <div class="Row">
                    <h3 class="Row_h3">Aprendiendo +</h3>
                    <div class="bar2"></div>
                    <div class="Row_items">
                        <div class="scroll_items" id="scroll_items_lenguajes">
                            <div class="Container_Card">
                                <div class="Card_Back">
                             
                                    <div class="Card">
                                        <div class="pop"></div>
                                        <h1>Nodejs</h1>
                                        <img class="icon" src="../../../assets/tools_icons/node.png">
                                    </div>
                                </div>
                            </div>
                            <div class="Container_Card">
                                <div class="Card_Back">
                                
                                    <div class="Card">
                                        <div class="pop"></div>
                                        <h1>Expressjs</h1>
                                        <img class="icon" src="../../../assets/tools_icons/express.png">
                                    </div>
                                </div>
                            </div>
                            <div class="Container_Card">
                                <div class="Card_Back">
                               
                                    <div class="Card">
                                        <div class="pop"></div>
                                        <h1>Docker</h1>
                                        <img class="icon" src="../../../assets/tools_icons/docker.png">
                                    </div>
                                </div>
                            </div>
                            <div class="Container_Card">
                                <div class="Card_Back">
                               
                                    <div class="Card">
                                        <div class="pop"></div>
                                        <h1>SpringBoot</h1>
                                        <img class="icon" src="../../../assets/tools_icons/springboot.png">
                                    </div>
                                </div>
                            </div>
                            <div class="Container_Card">
                                <div class="Card_Back">
                              
                                    <div class="Card">
                                        <div class="pop"></div>
                                        <h1>TypeScript</h1>
                                        <img class="icon" src="../../../assets/tools_icons/Typescript.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bar2"></div>
                </div>
                <div class="bar3"></div>
            </div>
        </div>
    </div>
</section>