<section>
    <div class="Title">
        <div class="bar"></div>
        <h2 class="h2_t">Experimentos</h2>
    </div>
    <div class="Container_Cards">
        <img class="img_scroll_cards" (click)="scrollL()" src="../../../assets/Icons/down.gif">
        <div class="bar2"></div>
        <div class="Scroll" id="Scroll_Experiments_Cards">
            <div class="Scroll_in">
                
                <div class="Tarjeta_Project">
                    <div class="Project_About">
                        <h1>Aplicación Estadística</h1>
                        <p>Aplicación web que permite el ingreso Online de datos y su tratamiento matemático automático y en tiempo real incluyendo gráficos estadísticos.</p>
                        <div class="Tecnologia_etiquetas">
                            <p>Angular</p>
                            <p>TypeScript</p>
                            <p>PHP</p>
                            <p>MySQL</p>
                        </div>
                    </div>
                    <div class="Project_Illustration">
                        <div class="Project_Image Project_Image_Color_1" (click)="navigateTo('https://francis-seura.ar/Estadistica-App')">
                            <img class="Image_src"  src="../../../assets/projects/Estadistica_App/Portada.png">
                            <div class="Image_src2">
                                <img src="../../../assets/Icons/Experiments.gif">
                            </div>
                            
                            <img class="Image_src3" src="../../../assets/Icons/Link.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bar2"></div>
        <img class="img_scroll_cards2" (click)="scrollR()" src="../../../assets/Icons/down.gif">
    </div>
</section>