<section id="Menu">

    <ul type="none" id="3D_menu">
        <div class="pop1" id="pop_1"></div>
        <div class="pop2" id="pop_2"></div>
        <div class="pop3" id="pop_3"></div>
        <div class="pop4" id="pop_4"></div>
        <li style="font-weight: bold ;color: #FFC700;" id="li_Inicio" (click)="goToInicio()">Inicio</li>
        <li id="li_Trabajo" (click)="goToTrabajo()">Mi Trabajo</li>
        <li id="li_Acerca">Acerca de mí</li>
        <li (click)="this.dataService.contacto()" id="li_Contacto">Contacto</li>
    </ul>
</section>